UI/NodeRed
[{"id":"77ea1c74.e830e4","type":"mqtt in","z":"e2b0091e.8c80d8","name":"","topic":"DEV_ID/PUB/DATA","qos":"1","broker":"db1bc864.48fd58","x":311,"y":421,"wires":[["f67342ab.97aa1"]]},{"id":"42b342b8.f4698c","type":"template","z":"e2b0091e.8c80d8","name":"__voltage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.VOLT}}","x":341,"y":501,"wires":[["7fa1a48e.e94a1c"]]},{"id":"f67342ab.97aa1","type":"json","z":"e2b0091e.8c80d8","name":"","x":551,"y":421,"wires":[["a267623d.e86cd"]]},{"id":"40e34713.7eee08","type":"template","z":"e2b0091e.8c80d8","name":"__current","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.CUR}}","x":341,"y":541,"wires":[["7f0a70.008e559"]]},{"id":"7fa1a48e.e94a1c","type":"function","z":"e2b0091e.8c80d8","name":"","func":"global.set(\"node_voltage\", msg.payload);\nglobal.set(\"old_node_voltage\", \"0\");\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":501,"wires":[[]]},{"id":"7f0a70.008e559","type":"function","z":"e2b0091e.8c80d8","name":"","func":"global.set(\"node_current\", msg.payload);\nglobal.set(\"old_node_current\", \"0\");\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":541,"wires":[[]]},{"id":"743ada9f.4c13d4","type":"template","z":"e2b0091e.8c80d8","name":"__power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.PWR}}","x":341,"y":581,"wires":[["39c3ba96.652596"]]},{"id":"39c3ba96.652596","type":"function","z":"e2b0091e.8c80d8","name":"","func":"global.set(\"node_power\", msg.payload);\nglobal.set(\"old_node_power\", \"0\");\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":581,"wires":[[]]},{"id":"407aee6b.ab729","type":"mqtt out","z":"e2b0091e.8c80d8","name":"","topic":"DEV_ID/SUB/DATA","qos":"0","retain":"","broker":"db1bc864.48fd58","x":751,"y":1101,"wires":[]},{"id":"16fbd6ad.78b6d9","type":"function","z":"e2b0091e.8c80d8","name":"","func":"var string = msg.payload;\nvar personRegExp = new RegExp(\"LIGHT\");\n\nif (personRegExp.test(string)){\n    msg.payload = msg.payload;\n}\nelse{\n    //msg.payload = '{\"CMD\":\"READ\"}';\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":551,"y":1101,"wires":[["407aee6b.ab729"]]},{"id":"65cc2b19.5f6b84","type":"template","z":"e2b0091e.8c80d8","name":"__lpg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.LPG}}","x":351,"y":621,"wires":[["1763f94c.c4fc17"]]},{"id":"14e0e270.f7b78e","type":"template","z":"e2b0091e.8c80d8","name":"__co","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.CO}}","x":351,"y":661,"wires":[["91e7ee4a.c0e86"]]},{"id":"6f25207b.993b7","type":"template","z":"e2b0091e.8c80d8","name":"__smoke","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.SMOKE}}","x":341,"y":741,"wires":[["a35571b0.4bd39"]]},{"id":"1763f94c.c4fc17","type":"function","z":"e2b0091e.8c80d8","name":"","func":"global.set(\"node_lpg\", msg.payload);\nglobal.set(\"old_node_lpg\", \"0\");\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":621,"wires":[["e32f1927.d10488"]]},{"id":"91e7ee4a.c0e86","type":"function","z":"e2b0091e.8c80d8","name":"","func":"global.set(\"node_co\", msg.payload);\nglobal.set(\"old_node_co\", \"0\");\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":661,"wires":[["b12be723.5333f8","abe7c10a.012ff"]]},{"id":"a35571b0.4bd39","type":"function","z":"e2b0091e.8c80d8","name":"","func":"global.set(\"node_smoke\", msg.payload);\nglobal.set(\"old_node_smoke\", \"0\");\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":741,"wires":[["df134818.5d00d8"]]},{"id":"e32f1927.d10488","type":"ui_gauge","z":"e2b0091e.8c80d8","name":"","group":"5ce804d9.2ae0dc","order":10,"width":"4","height":"4","gtype":"compass","title":"LPG","label":"PPM","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":711,"y":621,"wires":[]},{"id":"b12be723.5333f8","type":"ui_gauge","z":"e2b0091e.8c80d8","name":"","group":"5ce804d9.2ae0dc","order":11,"width":"7","height":"7","gtype":"compass","title":"CO","label":"PPM","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":711,"y":661,"wires":[]},{"id":"df134818.5d00d8","type":"ui_gauge","z":"e2b0091e.8c80d8","name":"","group":"5ce804d9.2ae0dc","order":12,"width":"4","height":"4","gtype":"compass","title":"Smoke","label":"PPM","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":721,"y":741,"wires":[]},{"id":"abe7c10a.012ff","type":"ui_chart","z":"e2b0091e.8c80d8","name":"Carbon MonoOxide","group":"5ce804d9.2ae0dc","order":13,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":761,"y":701,"wires":[[],[]]},{"id":"5c385125.3c144","type":"template","z":"e2b0091e.8c80d8","name":"__light","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.LIGHT}}","x":351,"y":881,"wires":[["cd24f331.993cb","b3082980.44b658","a5e56788.044888"]]},{"id":"cd24f331.993cb","type":"function","z":"e2b0091e.8c80d8","name":"","func":"msg.payload &= 0x01;\nmsg.payload >>= 0;\n\nif(msg.payload == 1)\n    msg.payload = true;\nelse\n    msg.payload = false;\n    \nreturn msg;","outputs":1,"noerr":0,"x":551,"y":881,"wires":[["3c18d8d7.037828"]]},{"id":"b3082980.44b658","type":"function","z":"e2b0091e.8c80d8","name":"","func":"msg.payload &= 0x02;\nmsg.payload >>= 1;\n\nif(msg.payload == 1)\n    msg.payload = true;\nelse\n    msg.payload = false;\n    \nreturn msg;","outputs":1,"noerr":0,"x":551,"y":921,"wires":[["58966f87.3a4d7"]]},{"id":"a5e56788.044888","type":"function","z":"e2b0091e.8c80d8","name":"","func":"msg.payload &= 0x04;\nmsg.payload >>= 2;\n\nif(msg.payload == 1)\n    msg.payload = true;\nelse\n    msg.payload = false;\n    \nreturn msg;","outputs":1,"noerr":0,"x":551,"y":961,"wires":[["33092bf4.40c734","685f4ea4.270b5"]]},{"id":"3c18d8d7.037828","type":"ui_switch","z":"e2b0091e.8c80d8","name":"","label":"Light 1","group":"5ce804d9.2ae0dc","order":4,"width":"4","height":"4","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":711,"y":881,"wires":[["e837b220.0f12b"]]},{"id":"58966f87.3a4d7","type":"ui_switch","z":"e2b0091e.8c80d8","name":"","label":"Light 2","group":"5ce804d9.2ae0dc","order":5,"width":"4","height":"4","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":711,"y":921,"wires":[["33159cf8.5cacd4"]]},{"id":"33092bf4.40c734","type":"ui_switch","z":"e2b0091e.8c80d8","name":"","label":"Light 3","group":"5ce804d9.2ae0dc","order":6,"width":"4","height":"4","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":711,"y":961,"wires":[["637e0a19.a14c24"]]},{"id":"e837b220.0f12b","type":"function","z":"e2b0091e.8c80d8","name":"","func":"var dd_tt = new Date().getTime()/1000|0;\n\nif(msg.payload === true){\n    msg.payload = '{\"DATE\":' +dd_tt+ ',\"CMD\":\"LIGHT\",\"SW\":\"L1_1\"}';\n}\nelse{\n    msg.payload = '{\"DATE\":' +dd_tt+ ',\"CMD\":\"LIGHT\",\"SW\":\"L1_0\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":871,"y":881,"wires":[["e6535994.fb2d18"]]},{"id":"33159cf8.5cacd4","type":"function","z":"e2b0091e.8c80d8","name":"","func":"var dd_tt = new Date().getTime()/1000|0;\n\nif(msg.payload === true){\n    msg.payload = '{\"DATE\":' +dd_tt+ ',\"CMD\":\"LIGHT\",\"SW\":\"L2_1\"}';\n}\nelse{\n    msg.payload = '{\"DATE\":' +dd_tt+ ',\"CMD\":\"LIGHT\",\"SW\":\"L2_0\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":871,"y":921,"wires":[["ff7cf4ee.8c6ae8"]]},{"id":"637e0a19.a14c24","type":"function","z":"e2b0091e.8c80d8","name":"","func":"var dd_tt = new Date().getTime()/1000|0;\n\nif(msg.payload === true){\n    msg.payload = '{\"DATE\":' +dd_tt+ ',\"CMD\":\"LIGHT\",\"SW\":\"L3_1\"}';\n}\nelse{\n    msg.payload = '{\"DATE\":' +dd_tt+ ',\"CMD\":\"LIGHT\",\"SW\":\"L3_0\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":871,"y":961,"wires":[["5d65216.65a96e"]]},{"id":"e6535994.fb2d18","type":"link out","z":"e2b0091e.8c80d8","name":"FXN_L1","links":["79b6bfc.41e684"],"x":976,"y":881,"wires":[]},{"id":"ff7cf4ee.8c6ae8","type":"link out","z":"e2b0091e.8c80d8","name":"FXN_L2","links":["603fa559.3fdf1c","68ba694f.75f978"],"x":976,"y":921,"wires":[]},{"id":"5d65216.65a96e","type":"link out","z":"e2b0091e.8c80d8","name":"FXN_L3","links":["42ce1000.d1a58","60c86005.3b1b5"],"x":976,"y":961,"wires":[]},{"id":"79b6bfc.41e684","type":"link in","z":"e2b0091e.8c80d8","name":"","links":["e6535994.fb2d18"],"x":436,"y":1061,"wires":[["16fbd6ad.78b6d9"]]},{"id":"68ba694f.75f978","type":"link in","z":"e2b0091e.8c80d8","name":"","links":["ff7cf4ee.8c6ae8"],"x":436,"y":1101,"wires":[["16fbd6ad.78b6d9"]]},{"id":"60c86005.3b1b5","type":"link in","z":"e2b0091e.8c80d8","name":"","links":["5d65216.65a96e"],"x":436,"y":1141,"wires":[["16fbd6ad.78b6d9"]]},{"id":"a267623d.e86cd","type":"link out","z":"e2b0091e.8c80d8","name":"OUT_JSON","links":["ae61a8b1.882418","2828a359.f4044c","92de9c6b.fd3cd","715003e1.c00a7c","c98f8418.dccaa8","1e72ff74.f3d771","889c4a70.d4fc38","26ba542c.3a04ec"],"x":676,"y":421,"wires":[]},{"id":"92de9c6b.fd3cd","type":"link in","z":"e2b0091e.8c80d8","name":"__JSON_Voltage","links":["a267623d.e86cd"],"x":236,"y":501,"wires":[["42b342b8.f4698c"]]},{"id":"c98f8418.dccaa8","type":"link in","z":"e2b0091e.8c80d8","name":"__JSON_Current","links":["a267623d.e86cd"],"x":236,"y":541,"wires":[["40e34713.7eee08"]]},{"id":"26ba542c.3a04ec","type":"link in","z":"e2b0091e.8c80d8","name":"__JSON_Power","links":["a267623d.e86cd"],"x":236,"y":581,"wires":[["743ada9f.4c13d4"]]},{"id":"715003e1.c00a7c","type":"link in","z":"e2b0091e.8c80d8","name":"__JSON_LPG","links":["a267623d.e86cd"],"x":236,"y":621,"wires":[["65cc2b19.5f6b84"]]},{"id":"ae61a8b1.882418","type":"link in","z":"e2b0091e.8c80d8","name":"__JSON_CO","links":["a267623d.e86cd"],"x":236,"y":661,"wires":[["14e0e270.f7b78e"]]},{"id":"889c4a70.d4fc38","type":"link in","z":"e2b0091e.8c80d8","name":"__JSON_Smoke","links":["a267623d.e86cd"],"x":236,"y":741,"wires":[["6f25207b.993b7"]]},{"id":"1e72ff74.f3d771","type":"link in","z":"e2b0091e.8c80d8","name":"__JSON_Light","links":["a267623d.e86cd"],"x":236,"y":881,"wires":[["5c385125.3c144"]]},{"id":"685f4ea4.270b5","type":"link out","z":"e2b0091e.8c80d8","name":"SQL_Inject","links":["a842cfd3.aed64"],"x":676,"y":1001,"wires":[]},{"id":"bac87d17.8aff","type":"template","z":"e2b0091e.8c80d8","name":"__Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.DegC}}","x":341,"y":781,"wires":[["ce703308.9de7f"]]},{"id":"ce703308.9de7f","type":"function","z":"e2b0091e.8c80d8","name":"","func":"global.set(\"node_DegC\", msg.payload);\nglobal.set(\"old_node_DegC\", \"0\");\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":781,"wires":[["ec252886.146238","2aeb5c1a.c27aa4"]]},{"id":"ec252886.146238","type":"ui_gauge","z":"e2b0091e.8c80d8","name":"","group":"5ce804d9.2ae0dc","order":12,"width":"4","height":"4","gtype":"compass","title":"Temperature","label":"DegC","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":731,"y":781,"wires":[]},{"id":"2828a359.f4044c","type":"link in","z":"e2b0091e.8c80d8","name":"__JSON_Temperature","links":["a267623d.e86cd"],"x":236,"y":781,"wires":[["bac87d17.8aff"]]},{"id":"2aeb5c1a.c27aa4","type":"ui_chart","z":"e2b0091e.8c80d8","name":"Temperature","group":"5ce804d9.2ae0dc","order":13,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"0","ymax":"40","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":731,"y":821,"wires":[[],[]]},{"id":"79cd3cf2.bdad34","type":"mqtt out","z":"e2b0091e.8c80d8","name":"","topic":"DEV_ID/SUB/DATA","qos":"0","retain":"","broker":"db1bc864.48fd58","x":748,"y":1215,"wires":[]},{"id":"b6e31446.7bd098","type":"function","z":"e2b0091e.8c80d8","name":"","func":"var dd_tt = new Date().getTime()/1000|0;\n\nif(msg.payload === true){\n    msg.payload = '{\"DATE\":' + dd_tt + '}';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":553,"y":1216,"wires":[["79cd3cf2.bdad34"]]},{"id":"1ed81ce3.82ee43","type":"inject","z":"e2b0091e.8c80d8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"10","crontab":"","once":false,"x":404,"y":1216,"wires":[["b6e31446.7bd098"]]},{"id":"db1bc864.48fd58","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5ce804d9.2ae0dc","type":"ui_group","z":"","name":"node_id_000001234","tab":"1b70858f.6fd06a","disp":false,"width":"26"},{"id":"1b70858f.6fd06a","type":"ui_tab","z":"","name":"Bedroom_001","icon":"dashboard"}]